errorhandlers1/src/main/mule/errorhandlers1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ba2d7b54-377d-4502-9515-c2eb42b12822" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="errorhandlers1Flow" doc:id="e9fc862a-57cb-4873-acfa-3365a7d0d259" >
		<http:listener doc:name="Listener" doc:id="34d7ad3c-191e-4c0a-bfee-f77758be5873" config-ref="HTTP_Listener_config" path="/handler"/>
		<choice doc:name="Choice" doc:id="b1d26e62-4e51-4261-891b-690e4e536864" >
			<when expression="#[isEmpty(payload)]">
				<raise-error doc:name="Raise error" doc:id="cd2b2e97-be7d-4101-bfe5-a185d619e459" type="NOT:PAYLOAD" description="PAYLOAD  NOT PRESENT"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="3b14623f-8cc0-4b08-a298-0d3d2a55b71d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
