assesmentmule1/src/main/mule/assesmentmule1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1354565a-edae-43f7-beca-8dc46684ef73" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assesmentmule1Flow" doc:id="c032f9fa-46e0-4a07-a586-61821b8381a4" >
		<http:listener doc:name="Listener" doc:id="febb2a45-6919-4521-a965-4bc3edaf7b66" config-ref="HTTP_Listener_config" path="/path"/>
		<ee:transform doc:name="Transform Message" doc:id="e27a8673-87ca-48ba-b31a-a2441bb34318" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"message":"hello"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6b894915-fafe-4a00-bbdb-7ca6c9e0244d" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d2fe4ee6-cf8f-422c-97ec-31d2977a7236" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml




---

"root": payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c28834e1-dac8-424e-802d-0615e7df3d12" message="#[uuid()]"/>
	</flow>
</mule>
