foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dfd6b319-b7e8-49fd-bc2b-5d7c012dba66" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="foreachFlow" doc:id="e513e70e-5a00-4bb5-a767-206f42362059" >
		<http:listener doc:name="Listener" doc:id="e1484842-b9bf-438b-af18-79dff0c002e7" config-ref="HTTP_Listener_config" path="/loop"/>
		<set-payload value="#[[1,2,3,'b',5]]" doc:name="Set Payload" doc:id="b1e292b8-8b69-43d9-83ae-6b230c7d108b" />
		<foreach doc:name="For Each" doc:id="49da86bf-3281-4852-8a1f-bc5f349e6ce0" >
			<set-payload value="#[payload + 10]" doc:name="Set Payload" doc:id="fc088e70-fdee-4d35-8824-09b603295040" />
		</foreach>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="776633a0-65a0-40a5-b854-1d0c4f074603" />
		<ee:transform doc:name="Transform Message" doc:id="b2af6d3b-d01b-4f25-a3df-39f2917227f8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="foreachFlow1" doc:id="d8f6f43a-6252-4b1a-bb0a-af95f75c0bff" >
		<http:listener doc:name="Listener" doc:id="1c5468b9-8a01-4a91-801e-729d07ba5ef3" config-ref="HTTP_Listener_config" path="/looping"/>
		<set-payload value="#[[1,2,3,4,5,6,7,'a','b',10]]" doc:name="Set Payload" doc:id="eb8e3d00-e6cd-40cc-951c-a8668038ae39" />
		<batch:job jobName="foreachBatch_Job" doc:id="5f901422-fac3-4b7a-b8da-60600a43fcb6" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="3ff48859-e3d7-4b09-9311-7d1b62d9860d" acceptExpression="#[payload as Number]">
					<set-payload value="#[payload + 10]" doc:name="Set Payload" doc:id="e1a736ef-b6a4-48d3-98c5-20e8aabdf4dd" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d83aa54d-2e9e-4df8-b42c-9ae3cb847c24" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="2e38c4bb-a572-4717-b9d9-40ffee1c06d5" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="b9377175-3c1a-4ca9-a9ea-052da92e08a4" acceptPolicy="ONLY_FAILURES">
					<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8511ce6f-c934-4d4c-99ee-69be02af713e" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="0ce4f7ab-2664-41b3-aa0c-04bc74887f2f" streaming="true">
						<logger level="INFO" doc:name="Logger" doc:id="518942ef-a3ba-4677-8308-064212657619" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c0103008-0f53-4d66-a890-3b149638565a" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="c567cf13-861e-4bfe-be2e-004444ae8182" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
