consumeweb1-bhargav/src/main/mule/consumeweb1-bhargav.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0f57499d-4ab2-4ae9-a6a1-4172fcffcb6f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="49f029e0-06ab-4a5c-b3ff-ffa526818c56" >
		<wsc:connection wsdlLocation="https://www.dataaccess.com/webservicesserver/NumberConversion.wso?WSDL" service="NumberConversion" port="NumberConversionSoap12" address="https://www.dataaccess.com/webservicesserver/NumberConversion.wso" />
	</wsc:config>
	<flow name="consumeweb1-bhargavFlow" doc:id="80a061c7-5c7b-4a7d-9cad-e3fa0803f290" >
		<http:listener doc:name="Listener" doc:id="53d8b1c9-8272-403d-b032-bf6dbe93d7db" path="/consumeweb1" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="51069186-c255-4a56-bb4f-6a81ffcbb017" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.dataaccess.com/webservicesserver/
---
{
	ns0#NumberToDollars: {
		ns0#dNum: 20,
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="ac64601f-e166-4445-8fef-b25c78bc2e03" config-ref="Web_Service_Consumer_Config" operation="NumberToDollars"/>
		<ee:transform doc:name="Transform Message" doc:id="34357ba9-9733-4d3a-ae42-93548e50202d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://www.dataaccess.com/webservicesserver/

output application/json
---
{
	"result":payload.body.ns0#NumberToDollarsResponse.ns0#NumberToDollarsResult
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
