listnerrequest-bhargav/src/main/mule/listnerrequest-bhargav.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="431b3c08-405c-4830-9005-3ee9fcee03b5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="964e7b3f-6ec4-48fe-8287-4134c642c60f" basePath="/path" >
		<http:request-connection host="http://localhost:8081/path" port="8081" />
	</http:request-config>
	<flow name="listnerrequest-bhargavFlow" doc:id="d51ac3ef-dfed-4a2c-928d-a4e2a9e26eae" >
		<http:listener doc:name="Listener" doc:id="f47c5e90-b33f-4880-b56a-e234f231d071" config-ref="HTTP_Listener_config" path="/listnerrequest"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="25278e37-7b44-4f29-bdbb-fe3f87b6b98e" variableName="correlationid"/>
		<logger level="INFO" doc:name="Logger" doc:id="76ac637b-74c9-467a-afe2-23226eb7ec4c" message="correlationid- #[vars.correlationid]"/>
		<ee:transform doc:name="Transform Message" doc:id="d90eb158-b83d-4315-b79b-85755efdf437" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"employeeid":123,
	"employeename": "Bhargav",
	"employee salary":2000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9771b2e5-7fa7-4e58-a1cb-1c506d167606" message="correlationid- #[vars.correlationid]-received respone-#[correlationId]"/>
		<http:request method="GET" doc:name="Request" doc:id="f475ee04-a413-4ea2-8a9b-688b6c97abe3" config-ref="HTTP_Request_configuration" path="/listnerrequest"/>
		<logger level="INFO" doc:name="Logger" doc:id="8e7d3cb4-8191-4cad-8b94-f6455749f69b" message="correlationid- #[vars.correlationid]"/>
	</flow>
</mule>
