assesmentsum/src/main/mule/assesmentsum.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bfb1c9d3-2600-41c9-bc2e-9d7c418a2a16" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="65d4d4b8-c3ac-410f-beaa-dcaf928491e5" >
		<http:request-connection host="addition-papi.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="assesmentsumFlow" doc:id="36c730e4-c74e-4432-850c-94034c80093d" >
		<http:listener doc:name="Listener" doc:id="67f06784-b372-415b-ae3d-d6a340b11892" config-ref="HTTP_Listener_config" path="/assesment"/>
		<set-variable value="#[uuid()]" doc:name="Set Variable" doc:id="9ead3ae6-ee04-4ef3-a8ff-06bf19dbf311" variableName="CorrelationId"/>
		<logger level="INFO" doc:name="Logger" doc:id="12a3a97e-2cdb-48f9-8ac7-c1c31a44eca4" message="CorrelationId- #[vars.CorrelationId]"/>
		<http:request method="POST" doc:name="Request" doc:id="68dc3697-0fd6-4313-8988-bd82a91d551d" config-ref="HTTP_Request_configuration" path="/add"/>
		<logger level="INFO" doc:name="Logger" doc:id="24f32640-861a-4e10-84e3-6b61dd36c807" message="CorrelationId- #[vars.CorrelationId]"/>
	</flow>
</mule>
